<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/header.css">
    <link rel="stylesheet" href="static/chat.css">
</head>
<body>

<div class="navbar">
  <a href="/">Home</a>
  <a href="news">News</a>
  <a href="chat">Chat</a>
  <a href="logout">Logout</a>
</div>

<div class="main">
    <div style="margin-top: 35px;">
        {% for message, reply in chat['messages'] %}
            <div class="container">
                <img src="{{ profile_pic }}" alt="Avatar" class="avatar" >
                <p>{{ message }}</p>
                <span class="time-right">11:00</span>
            </div>

            <div class="container darker">
                <img src="{{ chat['image recipient'] }}" alt="Avatar" class="right avatar">
                <p>{{ reply }}</p>
                <span class="time-left">11:01</span>
            </div>
        {% endfor %}

        {% if 'image message' in chat %}
            <div class="container">
                <img src="{{ profile_pic }}" alt="Avatar" class="avatar" >
                <img src="{{ chat['image message'][0] }}" alt="chat image" class="chatImage" >
                <span class="time-right">11:09</span>
            </div>

            <div class="container darker">
                <img src="{{ chat['image recipient'] }}" alt="Avatar" class="right avatar" >
                <p>{{ chat['image message'][1] }}</p>
                <span class="time-left">11:10</span>
            </div>
        {% endif %}
    </div>
</div>

</body>
</html>